.header {
  height: 100px;
  background-color: white;
  padding: 20px 25px 20px 40px;

  .logo {
    background: url('../../assets/images/logo-name.png');
    width: 272px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .add-point {
    float: right;
    height: 58px;
    width: 250px;
    line-height: 56px;
  }
  span {
    line-height: 4.2;
    margin: 0 50px;
  }
}
